// ---------------------------
// hamburger
// ---------------------------

.c-hamburger {
  margin: 0;
  padding: 0;

  & > a {
    display: block;
  }

  & svg {
    display: block;
  }

  @include mq(medium) {
    display: none;
  }
}
