// ---------------------------
// categories
// ---------------------------

.c-categories {
  list-style: none;
  margin: 0 0 calc(42 / 16 * 1rem);
  padding: 0;
  border-top: 1px solid $color-gray-light3;
  border-bottom: 1px solid $color-gray-light3;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  @include mq(medium) {
    flex-direction: row;
    align-items: center;
  }
}

.c-categories__item:not(:last-child) {
  margin-right: calc(24 / 16 * 1rem);
}

.c-categories__link {
  display: inline-block;
  padding: calc(18 / 16 * 1rem) 0;

  font-weight: 600;
  font-size: calc(13 / 16 * 1rem);
  line-height: 1;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  color: $color-gray-dark1;

  transition: color 0.2s ease-in-out;

  &:hover {
    color: $color-gray-light1;
    text-decoration: none;
  }
}

.c-categories__link.is-active,
.c-categories__link:hover.is-active {
  color: $color-brand-dark1;
}
