// ---------------------------
// pagination
// ---------------------------

.c-pagination {
  list-style: none;

  margin: pxtorem(30px) 0 0;
  border-top: 1px solid $color-gray-light3;
  padding: pxtorem(30px) 0 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &:after {
    content: "";
    display: inline-block;
    height: 36px;
    width: 1px;
    background-color: $color-gray-light3;
    margin-left: 18px;
    margin-right: 18px;

    order: 2;
  }

  & > svg {
    display: block;
  }
}

.c-pagination__item {
  display: block;
  color: $color-gray-dark4;
}

.c-pagination__item:nth-child(1) {
  order: 1;
}

.c-pagination__item:nth-child(2) {
  order: 3;
}

.c-pagination__link {
  display: block;
  padding: pxtorem(6px) 0;
  color: $color-gray-dark1;

  transition: color 0.2s ease-in-out;

  &:hover {
    color: $color-brand-dark1;
  }
}

.c-pagination__link.is-disabled {
  color: $color-gray-light1;
  cursor: not-allowed;

  &:hover {
    color: $color-gray-light1;
  }
}
