// ---------------------------
// titles
// ---------------------------

.c-h1 {
  margin-bottom: calc(24 / 16 * 1rem);
  font-weight: 600;
  font-size: calc(24 / 16 * 1rem);
  line-height: calc(36 / 30);
  font-family: $fontstack-alt;

  @include mq(large) {
    font-size: calc(27 / 16 * 1rem);
  }
}

.c-h2 {
  margin-bottom: calc(18 / 16 * 1rem);
  font-weight: 600;
  font-size: calc(24 / 16 * 1rem);
  line-height: calc(30 / 24);
  font-family: $fontstack-alt;

  @include mq(large) {
    font-size: calc(24 / 16 * 1rem);
  }
}

.c-h3 {
  margin-bottom: calc(18 / 16 * 1rem);
  font-weight: 600;
  font-size: calc(20 / 16 * 1rem);
  line-height: calc(24 / 20);
  font-family: $fontstack-alt;
}

.c-h4 {
  margin-bottom: calc(18 / 16 * 1rem);
  font-weight: 600;
  font-size: calc(18 / 16 * 1rem);
  line-height: calc(24 / 18);
  font-family: $fontstack-alt;
}

// ---------------------------
// titles wysiwyg
// ---------------------------

/**
 * Must exist in a container with a class of .wysiwyg
*/

.wysiwyg {
  h1 {
  }

  h2 {
  }

  h3 {
  }

  h4 {
  }
}

// ---------------------------
// special titles
// ---------------------------

.c-smalltitle {
  margin-bottom: calc(18 / 16 * 1rem);
  font-weight: 600;
  font-size: 1rem;
  color: $color-gray-dark1;
}

.c-footertitle {
  margin-bottom: calc(18 / 16 * 1rem);
  font-weight: 400;
  font-size: 1rem;
  color: $color-white;
  letter-spacing: 1px;
}
