// ---------------------------
// team member
// ---------------------------

.c-teammember {
  display: block;
}

.c-teammember__image {
  display: block;
  filter: grayscale(1);
}

.c-teammember__body {
  margin-top: calc(18 / 16 * 1rem);
}

.c-teammember__title {
  margin-bottom: calc(6 / 16 * 1rem);
  font-weight: 600;
  font-size: calc(18 / 16 * 1rem);
  line-height: calc(24 / 18);
  font-family: $fontstack-alt;
}

.c-teammember__role {
  color: $color-gray-dark4;
  margin-bottom: 0;
}
