// ---------------------------
// site header
// ---------------------------

.c-siteheader {
  padding: calc(30 / 16 * 1rem) 0 calc(48 / 16 * 1rem);

  @include mq(medium) {
    padding: calc(60 / 16 * 1rem) 0;
  }

  @include mq(large) {
    padding: calc(90 / 16 * 1rem) 0;
  }
}

.c-siteheader__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.c-siteheader__logo {
  margin: 0;
  padding: 0;

  & > a {
    display: block;
  }
}
