// ---------------------------
// page intros
// ---------------------------

/**
 * constrained width on large screens
 * typograpy for the text
*/

.c-pageintro {
  margin-bottom: calc(30 / 16 * 1rem);
  max-width: 80ch;

  @include mq(medium) {
    margin-bottom: calc(42 / 16 * 1rem);
  }

  @include mq(large) {
    margin-bottom: calc(48 / 16 * 1rem);
  }
}

.c-pageintro__text {
  font-size: calc(18 / 16 * 1rem);
  font-weight: 400;
  font-family: $fontstack-alt;
  color: $color-gray-dark3;

  @include mq(medium) {
    font-size: calc(20 / 16 * 1rem);
  }
}
