// ---------------------------
// panels
// ---------------------------

.c-panel {
  background-color: $color-gray-light4;
  padding: calc(36 / 16 * 1rem) calc(24 / 16 * 1rem);

  @include mq(large) {
    padding: calc(56 / 16 * 1rem) calc(42 / 16 * 1rem);
  }
}

.c-panel--fullheight {
  box-sizing: border-box;
  height: 100%;
}
