---
pagination:
  data: collections.blogposts
  size: 12
  alias: paginatedBlogposts
permalink: blog{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html
---
{% extends "layouts/base.njk" %}

{% set currentSection = "blog" %}

{% set metaTitle = pageblog.title %}
{% set metaDescription = pageblog.intro %}
{% set metaImage = site.metaImage %}

{% from "macros/blogcard.njk" import blogCard %}

{% block content %}
  <div class="l-container">

    <div class="c-pageintro">
      <h1 class="c-h1">{{ pageblog.title }}</h1>
      <p class="c-pageintro__text">{{ pageblog.intro }}</p>
    </div>

    {% set posts = paginatedBlogposts %}
    {% for post in posts %}
      {% if loop.first %}<ul class="l-grid  l-grid--fluid">{% endif %}
        <li>
          {{ blogCard(
            title = post.data.title,
            image = post.data.image,
            date = post.date,
            url = post.url
          ) }}
        </li>
      {% if loop.last %}</ul>{% endif %}
    {% else %}
      <p>No blogpost found</p>
    {% endfor %}

    {# pagination #}
    {% set totalPages = pagination.hrefs | length %}
    {% set currentPage = pagination.pageNumber + 1 %}
    {% if totalPages > 1 %}
      <ul class="c-pagination">
        <li class="c-pagination__item  c-pagination__item--first">
          {% if pagination.href.previous %}
            <a class="c-pagination__link" href="{{ pagination.href.previous }}">{% include "svg/arrow-left.svg" %}</a>
          {% else %}
            <span class="c-pagination__link  is-disabled">{% include "svg/arrow-left.svg" %}</span>
          {% endif %}
        </li>
        <li class="c-pagination__item  c-pagination__item--last">
          {% if pagination.href.next %}
            <a class="c-pagination__link" href="{{ pagination.href.next }}">{% include "svg/arrow-right.svg" %}</a>
          {% else %}
            <span class="c-pagination__link  is-disabled">{% include "svg/arrow-right.svg" %}</span>
          {% endif %}
        </li>
      </ul>
    {% endif %}

  </div>
{% endblock %}
