---
permalink: contact/index.html
---
{% extends "layouts/base.njk" %}

{% set currentSection = "contact" %}

{% set metaTitle = "About us" %}
{% set metaDescription = "Team and contact" %}
{% set metaImage = site.metaImage %}

{% from "macros/teamcard.njk" import teamCard %}

{% block content %}
  <div class="l-container">

    <div class="c-pageintro">
      <h1 class="c-h1">{{ pagecontact.title }}</h1>
      <p class="c-pageintro__text">{{ pagecontact.intro }}</p>
    </div>

    <div class="l-about">
      <div class="l-about__team">

        {% for member in collections.team %}
          {% if loop.first %}<ul class="l-grid  l-grid--2cols@small  l-grid--3cols@large">{% endif %}
            <li>
              {{ teamCard(
                name = member.data.name,
                surname = member.data.surname,
                image = member.data.image,
                function = member.data.function
              ) }}
            </li>
          {% if loop.last %}</ul>{% endif %}
        {% endfor %}

      </div>
      <div class="l-about__info">

        <div class="c-panel">
          {% if contact.company and contact.address | length %}
            <h2 class="c-h3">Get in touch</h2>
            <address class="u-margin-bottom-xl">
              {{ contact.company }}<br>
              {{ contact.address.street }}, {{ contact.address.number }}<br>
              {{ contact.address.postcode }} {{ contact.address.city }}
            </address>
          {% endif %}
          <ul class="c-vlist">
            {% if contact.email %}
            <li>
                <div class="o-mediaobject">
                  <div class="o-mediaobject__media">{% include "svg/icon-email.svg" %}</div>
                  <div class="o-mediaobject__body">
                    <h3 class="c-smalltitle u-margin-bottom-none">Get in touch</h3>
                    <p><a href="mailto:hello@ghentblog.com">{{ contact.email }}</a></p>
                  </div>
                </div>
            </li>
            {% endif %}
            {% if contact.phoneMachines and contact.phoneDisplay %}
            <li>
              <div class="o-mediaobject">
                <div class="o-mediaobject__media">{% include "svg/icon-phone.svg" %}</div>
                <div class="o-mediaobject__body">
                  <h3 class="c-smalltitle u-margin-bottom-none">Phone</h3>
                  <p><a href="tel:{{ contact.phoneMachines }}">{{ contact.phoneDisplay }}</a></p>
                </div>
              </div>
            </li>
            {% endif %}
            {% if contact.googleMapUrl %}
            <li>
              <div class="o-mediaobject">
                <div class="o-mediaobject__media">{% include "svg/icon-location.svg" %}</div>
                <div class="o-mediaobject__body">
                  <h3 class="c-smalltitle u-margin-bottom-none">Get directions</h3>
                  <p><a href="{{ contact.googleMapUrl }}">View on Google Maps</a></p>
                </div>
              </div>
            </li>
            {% endif %}
          </ul>
        </div>

      </div>
    </div>

  </div>
{% endblock %}
