---
permalink: index.html
---
{% extends "layouts/base.njk" %}

{% set currentSection = "home" %}

{% set metaTitle = "Homepage" %}
{% set metaDescription = "This is an SEO description for this page" %}
{% set metaImage = site.metaImage %}

{% from "macros/blogcard.njk" import blogCard %}

{% block content %}
  <div class="l-container">

    <div class="c-pageintro">
      <h1 class="c-h1">{{ pagehome.title }}</h1>
      <p class="c-pageintro__text">{{ pagehome.intro }}</p>
    </div>

    {% set posts = collections.blogposts | limit(6) %}
    {% for post in posts %}
      {% if loop.first %}<ul class="l-grid  l-grid--2cols@small  l-grid--4cols@medium">{% endif %}
        <li>
          {{ blogCard(
            title = post.data.title,
            image = post.data.image,
            date = post.date,
            url = post.url
          ) }}
        </li>
      {% if loop.last %}</ul>{% endif %}
    {% endfor %}

    <p class="u-textalign-center  u-margin-top-xl  u-margin-bottom-none"><a class="c-button" href="/blog/">Blog archives</a></p>

  </div>
{% endblock %}
