---
pagination:
  data: collections.blogposts
  size: 12
  alias: paginatedBlogposts
permalink: blog{% if pagination.pageNumber > 0 %}/page{{ pagination.pageNumber + 1}}{% endif %}/index.html
---
{% extends "layouts/base.njk" %}

{% set currentSection = "blog" %}

{% set metaTitle = pageblog.title %}
{% set metaDescription = pageblog.intro %}
{% set metaImage = site.metaImage %}

{% block content %}
<main>
  <div class="l-container">

    <div class="c-pageintro">
      <h1 class="c-h1">{{ pageblog.title }}</h1>
      <p class="c-pageintro__text">{{ pageblog.intro }}</p>
    </div>

    {% set posts = paginatedBlogposts %}
    {% for post in posts %}
      {% if loop.first %}<ul class="l-grid  l-grid--fluid">{% endif %}
        <li>
          <article class="c-blogcard">
            <a class="c-blogcard__link" href="{{ post.url }}">
              <p class="c-blogcard__media"><img class="u-fluidimage" src="/assets/img/blog/600x600/{{ post.data.image }}" alt="{{ post.data.title }}"></p>
              <p class="c-blogcard__meta"><time datetime="{{ post.date | date('YYYY-MM-DD') }}">{{ post.date|date("MMMM D, Y") }}</time></p>
              <h2 class="c-blogcard__title">{{ post.data.title }}</h2>
            </a>
          </article>
        </li>
      {% if loop.last %}</ul>{% endif %}
    {% else %}
      <p>No blogpost found</p>
    {% endfor %}

    {# pagination #}
    {% set totalPages = pagination.hrefs | length %}
    {% set currentPage = pagination.pageNumber + 1 %}
    {% if totalPages > 1 %}
      <ul class="c-pagination">
        <li class="c-pagination__item  c-pagination__item--first">
          {% if pagination.previousPageHref %}
            <a class="c-pagination__link" href="{{ pagination.previousPageHref }}">{% include "svg/arrow-left.svg" %}</a>
          {% else %}
            <span class="c-pagination__link  is-disabled">{% include "svg/arrow-left.svg" %}</span>
          {% endif %}
        </li>
        <li class="c-pagination__item  c-pagination__item--last">
          {% if pagination.nextPageHref %}
            <a class="c-pagination__link" href="{{ pagination.nextPageHref }}">{% include "svg/arrow-right.svg" %}</a>
          {% else %}
            <span class="c-pagination__link  is-disabled">{% include "svg/arrow-right.svg" %}</span>
          {% endif %}
        </li>
      </ul>
    {% endif %}

  </div>
</main>
{% endblock %}
