// ---------------------------
// containers
// ---------------------------

.l-container {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 24px;
  max-width: 1100px;

  @include mq(medium) {
    padding: 0 42px;
  }
}
