// ---------------------------
// about page layout
// ---------------------------

.l-about {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;

  @include mq(medium) {
    grid-template-columns: repeat(6, 1fr);
  }

  @include mq(large) {
    grid-template-columns: repeat(12, 1fr);
  }
}

.l-about__team {
  grid-column: 1 / -1;
  grid-row: 1 / 2;

  @include mq(medium) {
    grid-column: 1 / span 4;
    grid-row: 1 / 2;
  }

  @include mq(large) {
    grid-column: 1 / span 8;
    grid-row: 1 / 2;
  }
}

.l-about__info {
  grid-column: 1 / -1;
  grid-row: 2 / 3;

  @include mq(medium) {
    grid-column: 5 / span 2;
    grid-row: 1 / 2;
  }

  @include mq(large) {
    grid-column: 9 / span 4;
    grid-row: 1 / 2;
  }
}
