// ---------------------------
// colors
// ---------------------------

$color-brand: #03d2ff;
$color-brand-dark1: #12acce;

$color-gray-dark1: #1d1d1d;
$color-gray-dark2: #343434;
$color-gray-dark3: #565656;
$color-gray-dark4: #777777;

$color-gray-light1: #a5a5a5;
$color-gray-light2: #d2d2d2;
$color-gray-light3: #e8e8e8;
$color-gray-light4: #f4f4f4;

$color-white: #ffffff;
